header{
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header img{
    height: 40px;
    cursor: pointer;
}

header a{
    color: white;
    text-decoration: none;
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px
}

.right-section button{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 12px 5px 12px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px){
    header{
        padding: 10px 20px;
    }
    header img{
        height: 15px;
    }
    
    header a{
        font-size: 8px;
    }
    
    .right-section{
        column-gap: 15px
    }
    
    .right-section button{
        height: 20px;
        font-size: 8px;
    }
}
