body{
    background-color: #0e0e0c;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #d9d9d9;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
}

@media (min-width: 320px) and (max-width: 768px){
    div{
        font-size: 10px;
        margin: 250px 50px;
    }
}
